node-red/flows.json
[{"id":"47cd010b.7d0af8","type":"tab","label":"Sycamore"},{"id":"99561b49.d41a18","type":"mqtt-broker","z":"","broker":"192.168.11.2","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"abe1c78c.a67ba8","type":"particle-cloud","z":"","host":"https://api.particle.io","port":"443","accesstoken":"b03940bec5feec4cce439de41575a03085ac2902","name":"particle"},{"id":"83ee67ba.eec32","type":"emoncms-server","z":"","server":"http://emoncms.org","name":"Emoncms (Hosted)"},{"id":"642dfdc8.972934","type":"pushbullet-config","z":"","name":"scottsweb@gmail.com"},{"id":"e52125ba.63c06","type":"bean","z":"","name":"BackBean","uuid":"","connectiontype":"constant","connectiontimeout":"0"},{"id":"2d6e20e6.8a2a3","type":"ifttt-key","z":""},{"id":"426d951d.c68d5c","type":"inject","z":"47cd010b.7d0af8","name":"Text","topic":"","payload":"{\"opcode\": \"1\", \"text\": \"Testing\" }","payloadType":"str","repeat":"","crontab":"","once":false,"x":1190,"y":220,"wires":[["57854f60.06082"]]},{"id":"57854f60.06082","type":"mqtt out","z":"47cd010b.7d0af8","name":"UC Control","topic":"sycamore/unicorn","qos":"0","retain":"false","broker":"99561b49.d41a18","x":1190,"y":420,"wires":[]},{"id":"1afbd0c5.b7b827","type":"inject","z":"47cd010b.7d0af8","name":"Off","topic":"","payload":"{\"opcode\": \"0\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":1190,"y":180,"wires":[["57854f60.06082"]]},{"id":"1931c153.ba323f","type":"inject","z":"47cd010b.7d0af8","name":"Red","topic":"","payload":"{\"opcode\": \"2\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":1190,"y":260,"wires":[["57854f60.06082"]]},{"id":"ca91081e.e08728","type":"inject","z":"47cd010b.7d0af8","name":"Orange","topic":"","payload":"{\"opcode\": \"3\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":1190,"y":300,"wires":[["57854f60.06082"]]},{"id":"7a02c1e9.17c57","type":"comment","z":"47cd010b.7d0af8","name":"Dynamic DNS","info":"","x":110,"y":40,"wires":[]},{"id":"1168a6f5.c0bd89","type":"inject","z":"47cd010b.7d0af8","name":"","topic":"","payload":"","payloadType":"none","repeat":"43200","crontab":"","once":false,"x":90,"y":80,"wires":[["d86e2c62.3de02"]]},{"id":"d86e2c62.3de02","type":"http request","z":"47cd010b.7d0af8","name":"freedns.afraid.org","method":"GET","ret":"txt","url":"https://freedns.afraid.org/dynamic/update.php?T1cwN1pEbko1b3ZXZ0lNeDZieTg6Mzc3MjQ1NQ==","x":270,"y":80,"wires":[[]]},{"id":"167b05c2.ef754a","type":"comment","z":"47cd010b.7d0af8","name":"BackBean","info":"","x":100,"y":340,"wires":[]},{"id":"bcb8c9f7.992f78","type":"change","z":"47cd010b.7d0af8","name":"","rules":[{"t":"set","p":"payload","to":"{\"opcode\": \"8\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":380,"wires":[["57854f60.06082","ba60d7fc.56dc58"]]},{"id":"ba60d7fc.56dc58","type":"function","z":"47cd010b.7d0af8","name":"home?","func":"// if ( context.global.sycamore === false) {\n//    return null;\nif ( context.global.sycamore === \"not_home\" ) {\n    return msg;\n} else {\n    return null;\n}","outputs":"1","noerr":0,"x":450,"y":380,"wires":[["6c7fd8e6.5b07c8"]]},{"id":"5f52ef53.ff5078","type":"pushbullet","z":"47cd010b.7d0af8","config":"642dfdc8.972934","pushtype":"note","title":"Sycamore","chan":"","name":"pushbullet","x":610,"y":420,"wires":[]},{"id":"66bff567.3623b4","type":"function","z":"47cd010b.7d0af8","name":"set msg.payload","func":"msg.payload = 'Motion detected at back of Sycamore. The current outside temperature is: ' + msg.payload + '°c.';\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":420,"wires":[["78619798.05a648"]]},{"id":"78619798.05a648","type":"function","z":"47cd010b.7d0af8","name":"home?","func":"// if ( context.global.sycamore === false) {\n//    return null;\nif ( context.global.sycamore === \"not_home\" ) {\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["5f52ef53.ff5078"]]},{"id":"5aabf409.3230ec","type":"change","z":"47cd010b.7d0af8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\": true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":460,"wires":[["a66e6e46.3f89b"]]},{"id":"a66e6e46.3f89b","type":"function","z":"47cd010b.7d0af8","name":"home?","func":"// if ( context.global.sycamore === false) {\n//    return null;\nif ( context.global.sycamore === \"not_home\" ) {\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":450,"y":460,"wires":[["dca2476b.7cd628"]]},{"id":"dca2476b.7cd628","type":"function","z":"47cd010b.7d0af8","name":"night?","func":"if ( context.global.sun === \"above_horizon\" ) {\n    return null;\n} else {\n    var d = new Date();\n    context.global.backlight = d.getTime();\n    msg.payload = '{ \"entity_id\": \"light.back_door\" }';\n    return msg;\n}","outputs":1,"noerr":0,"x":590,"y":460,"wires":[["6c0b1bc3.cad0ac"]]},{"id":"971f12cb.ece1b8","type":"inject","z":"47cd010b.7d0af8","name":"Rain","topic":"","payload":"{\"opcode\": \"7\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":1190,"y":340,"wires":[["57854f60.06082"]]},{"id":"fbad0eda.f2e49","type":"debug","z":"47cd010b.7d0af8","name":"","active":true,"console":"true","complete":"payload","x":550,"y":840,"wires":[]},{"id":"ead0856a.5e242","type":"ParticleSSE in","z":"47cd010b.7d0af8","baseurl":"abe1c78c.a67ba8","evtname":"watz","devid":"2f0020001347343432313031","x":200,"y":680,"wires":[["6b424a73.72d24c","97f28043.0b6cb","fbad0eda.f2e49"]]},{"id":"ddfcdc85.2c49c","type":"ParticleSSE in","z":"47cd010b.7d0af8","baseurl":"abe1c78c.a67ba8","evtname":"watzup","devid":"2f0020001347343432313031","x":210,"y":740,"wires":[["fbad0eda.f2e49","45cc4a22.782b7c"]]},{"id":"6b424a73.72d24c","type":"emoncms","z":"47cd010b.7d0af8","name":"emoncms","emonServer":"83ee67ba.eec32","nodegroup":"1","x":460,"y":680,"wires":[]},{"id":"eb55197c.83d6e8","type":"comment","z":"47cd010b.7d0af8","name":"Watz Power Log","info":"","x":120,"y":640,"wires":[]},{"id":"833c7e5b.48c38","type":"inject","z":"47cd010b.7d0af8","name":"meter","topic":"","payload":"46850","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":840,"wires":[["fbb6c5ab.877ec8"]]},{"id":"6c51994d.db599","type":"comment","z":"47cd010b.7d0af8","name":"Watz Set Meter","info":"","x":120,"y":800,"wires":[]},{"id":"fbb6c5ab.877ec8","type":"function","z":"47cd010b.7d0af8","name":"jsonify","func":"msg.payload = '{\"meter\": ' + msg.payload + '}';\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":840,"wires":[["6dc47891.7e8128","fbad0eda.f2e49"]]},{"id":"6dc47891.7e8128","type":"emoncms","z":"47cd010b.7d0af8","name":"emoncms","emonServer":"83ee67ba.eec32","nodegroup":"1","x":380,"y":840,"wires":[]},{"id":"4ad6979e.e223a8","type":"function","z":"47cd010b.7d0af8","name":"power use","func":"if (msg.payload.kw <= 0.6) {\n    msg.payload = {\"opcode\": \"13\"};\n} else if ( msg.payload.kw >= 2.0) {\n    msg.payload = {\"opcode\": \"12\"};\n} else {\n    msg.payload = {\"opcode\": \"14\"};\n}\nreturn msg;\n","outputs":"1","noerr":0,"x":610,"y":620,"wires":[["57854f60.06082"]]},{"id":"97f28043.0b6cb","type":"json","z":"47cd010b.7d0af8","name":"","x":450,"y":620,"wires":[["4ad6979e.e223a8"]]},{"id":"45cc4a22.782b7c","type":"emoncms in","z":"47cd010b.7d0af8","name":"emoncms (current meter count)","emonServer":"83ee67ba.eec32","feedid":"104902","x":550,"y":740,"wires":[["3cc2bf7b.cbf24"]]},{"id":"3cc2bf7b.cbf24","type":"function","z":"47cd010b.7d0af8","name":"++","func":"msg.payload = parseInt( msg.payload ) + 1;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":740,"wires":[["fbb6c5ab.877ec8"]]},{"id":"66986c04.32f054","type":"comment","z":"47cd010b.7d0af8","name":"ISS","info":"","x":90,"y":1000,"wires":[]},{"id":"8180fcf0.e1033","type":"inject","z":"47cd010b.7d0af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":560,"wires":[["3b666be2.7f13f4"]]},{"id":"6591ffa0.ff5d78","type":"comment","z":"47cd010b.7d0af8","name":"Light Timer (Clear Lighting)","info":"","x":150,"y":520,"wires":[]},{"id":"3b666be2.7f13f4","type":"function","z":"47cd010b.7d0af8","name":"light time","func":"if ( context.global.backlight ) {\n    var timer = 600000; // milliseconds in 10 minutes\n    \n    if ( msg.payload >= ( context.global.backlight + timer ) ) {\n        context.global.backlight = false;\n        msg.payload = '{ \"entity_id\": \"light.back_door\" }';\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":280,"y":560,"wires":[["b0d5949.37fe0e8"]]},{"id":"19c988bc.90494f","type":"bean serial","z":"47cd010b.7d0af8","name":"backbean","bean":"e52125ba.63c06","newline":"\\n","bin":"false","out":"char","addchar":false,"x":100,"y":420,"wires":[["bcb8c9f7.992f78","66bff567.3623b4","5aabf409.3230ec"]]},{"id":"28d9e2f2.e414b6","type":"comment","z":"47cd010b.7d0af8","name":"Home?","info":"","x":90,"y":140,"wires":[]},{"id":"67f142c8.5dff74","type":"inject","z":"47cd010b.7d0af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":180,"wires":[["b766e620.3939f"]]},{"id":"b766e620.3939f","type":"http request","z":"47cd010b.7d0af8","name":"hass","method":"GET","ret":"txt","url":"http://192.168.11.2:8123/api/states/group.all_devices","tls":"","x":270,"y":180,"wires":[["6bc4f2f0.79c29c"]]},{"id":"6bc4f2f0.79c29c","type":"json","z":"47cd010b.7d0af8","name":"","x":410,"y":180,"wires":[["cfa45110.a1049"]]},{"id":"cfa45110.a1049","type":"function","z":"47cd010b.7d0af8","name":"global.sycamore","func":"context.global.sycamore = msg.payload.state;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":180,"wires":[[]]},{"id":"7284cad9.00395c","type":"comment","z":"47cd010b.7d0af8","name":"Night?","info":"","x":90,"y":240,"wires":[]},{"id":"faf560a3.958ed8","type":"inject","z":"47cd010b.7d0af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":280,"wires":[["f1f0f364.1d2f"]]},{"id":"f1f0f364.1d2f","type":"http request","z":"47cd010b.7d0af8","name":"hass","method":"GET","ret":"txt","url":"http://192.168.11.2:8123/api/states/sun.sun","tls":"","x":270,"y":280,"wires":[["86002722.2ddc6"]]},{"id":"86002722.2ddc6","type":"json","z":"47cd010b.7d0af8","name":"","x":410,"y":280,"wires":[["44a197e4.2dd37"]]},{"id":"44a197e4.2dd37","type":"function","z":"47cd010b.7d0af8","name":"global.sun","func":"context.global.sun = msg.payload.state;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[[]]},{"id":"6c0b1bc3.cad0ac","type":"http request","z":"47cd010b.7d0af8","name":"light.back_door","method":"POST","ret":"txt","url":"http://192.168.11.2:8123/api/services/light/turn_on","tls":"","x":760,"y":460,"wires":[[]]},{"id":"b0d5949.37fe0e8","type":"http request","z":"47cd010b.7d0af8","name":"light.back_door","method":"POST","ret":"txt","url":"http://192.168.11.2:8123/api/services/light/turn_off","tls":"","x":460,"y":560,"wires":[[]]},{"id":"d50887dd.bfe928","type":"ParticleSSE in","z":"47cd010b.7d0af8","baseurl":"abe1c78c.a67ba8","evtname":"sycamore_iss_pass","devid":"2f0020001347343432313031","x":250,"y":1040,"wires":[["b6af8a55.959c78"]]},{"id":"b6af8a55.959c78","type":"function","z":"47cd010b.7d0af8","name":"msg.payload","func":"msg.payload = {\"icon\": \"iss\",\"r\":255, \"g\":255, \"b\":255, \"opcode\":\"1\", \"text\": msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1040,"wires":[["57854f60.06082"]]},{"id":"4d658cf7.06a474","type":"inject","z":"47cd010b.7d0af8","name":"Advanced","topic":"","payload":"{ \"icon\": \"iss\", \"r\":0, \"g\":255, \"b\":0 }","payloadType":"str","repeat":"","crontab":"","once":false,"x":1200,"y":140,"wires":[["57854f60.06082"]]},{"id":"79124af9.6d688c","type":"comment","z":"47cd010b.7d0af8","name":"Watz Battery","info":"","x":110,"y":880,"wires":[]},{"id":"5c6d3b4e.219b34","type":"ParticleSSE in","z":"47cd010b.7d0af8","baseurl":"abe1c78c.a67ba8","evtname":"watzbatt","devid":"2f0020001347343432313031","x":210,"y":920,"wires":[["655f4f61.56c4c","fbad0eda.f2e49"]]},{"id":"655f4f61.56c4c","type":"json","z":"47cd010b.7d0af8","name":"","x":470,"y":920,"wires":[["24cf248b.19bab4"]]},{"id":"24cf248b.19bab4","type":"function","z":"47cd010b.7d0af8","name":"low batt","func":"if (msg.payload.charge <= 8 ) {\n    msg.payload = \"Watz battery is low: \" + msg.payload.charge + \"%\"\n    return msg;\n}\nreturn null;","outputs":"1","noerr":0,"x":620,"y":920,"wires":[["6ee34d85.70d4cc"]]},{"id":"6ee34d85.70d4cc","type":"pushbullet","z":"47cd010b.7d0af8","config":"642dfdc8.972934","pushtype":"note","title":"Sycamore","chan":"","name":"pushbullet","x":790,"y":920,"wires":[]},{"id":"6c7fd8e6.5b07c8","type":"ifttt out","z":"47cd010b.7d0af8","eventName":"backbean","key":"2d6e20e6.8a2a3","x":600,"y":380,"wires":[]}]