node-red/flows.json
[{"id":"47cd010b.7d0af8","type":"tab","label":"Sycamore"},{"id":"99561b49.d41a18","type":"mqtt-broker","z":"","broker":"192.168.11.2","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"abe1c78c.a67ba8","type":"particle-cloud","z":"","host":"https://api.particle.io","port":"443","accesstoken":"49e7c23f4be5ebecae0f862aa2ca8c253110d624","name":"sparky"},{"id":"83ee67ba.eec32","type":"emoncms-server","z":"","server":"http://emoncms.org","name":"Emoncms (Hosted)"},{"id":"a2db7847.6e8268","type":"kodi-controller","z":"","name":"TV","host":"192.168.11.40","port":"9090"},{"id":"642dfdc8.972934","type":"pushbullet-config","z":0,"name":"scottsweb@gmail.com"},{"id":"426d951d.c68d5c","type":"inject","z":"47cd010b.7d0af8","name":"Text","topic":"","payload":"{\"opcode\": \"1\", \"text\": \"Testing\" }","payloadType":"str","repeat":"","crontab":"","once":false,"x":1230,"y":320,"wires":[["57854f60.06082"]]},{"id":"57854f60.06082","type":"mqtt out","z":"47cd010b.7d0af8","name":"UC Control","topic":"sycamore/unicorn","qos":"0","retain":"false","broker":"99561b49.d41a18","x":1230,"y":520,"wires":[]},{"id":"1afbd0c5.b7b827","type":"inject","z":"47cd010b.7d0af8","name":"Off","topic":"","payload":"{\"opcode\": \"0\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":1230,"y":280,"wires":[["57854f60.06082"]]},{"id":"1931c153.ba323f","type":"inject","z":"47cd010b.7d0af8","name":"Red","topic":"","payload":"{\"opcode\": \"2\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":1230,"y":360,"wires":[["57854f60.06082"]]},{"id":"ca91081e.e08728","type":"inject","z":"47cd010b.7d0af8","name":"Orange","topic":"","payload":"{\"opcode\": \"3\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":1230,"y":400,"wires":[["57854f60.06082"]]},{"id":"7a02c1e9.17c57","type":"comment","z":"47cd010b.7d0af8","name":"Dynamic DNS","info":"","x":110,"y":40,"wires":[]},{"id":"1168a6f5.c0bd89","type":"inject","z":"47cd010b.7d0af8","name":"","topic":"","payload":"","payloadType":"none","repeat":"43200","crontab":"","once":false,"x":90,"y":80,"wires":[["d86e2c62.3de02"]]},{"id":"d86e2c62.3de02","type":"http request","z":"47cd010b.7d0af8","name":"freedns.afraid.org","method":"GET","ret":"txt","url":"https://freedns.afraid.org/dynamic/update.php?T1cwN1pEbko1b3ZXZ0lNeDZieTg6Mzc3MjQ1NQ==","x":330,"y":80,"wires":[[]]},{"id":"167b05c2.ef754a","type":"comment","z":"47cd010b.7d0af8","name":"BackBean","info":"","x":100,"y":480,"wires":[]},{"id":"b69ceaf4.96b6c8","type":"http request","z":"47cd010b.7d0af8","name":"record video","method":"GET","ret":"txt","url":"https://maker.ifttt.com/trigger/backbean/with/key/dt_UVFsWIsuy7m2kDp5YW-","x":590,"y":520,"wires":[[]]},{"id":"bcb8c9f7.992f78","type":"change","z":"47cd010b.7d0af8","name":"","rules":[{"t":"set","p":"payload","to":"{\"opcode\": \"8\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":520,"wires":[["57854f60.06082","ba60d7fc.56dc58"]]},{"id":"ba60d7fc.56dc58","type":"function","z":"47cd010b.7d0af8","name":"home?","func":"// if ( context.global.sycamore === false) {\n//    return null;\nif ( context.global.sycamore === \"away\" ) {\n    return msg;\n} else {\n    return null;\n}","outputs":"1","noerr":0,"x":430,"y":520,"wires":[["b69ceaf4.96b6c8"]]},{"id":"5f52ef53.ff5078","type":"pushbullet","z":"47cd010b.7d0af8","config":"642dfdc8.972934","pushtype":"note","title":"Sycamore","chan":"","name":"pushbullet","x":590,"y":560,"wires":[]},{"id":"66bff567.3623b4","type":"function","z":"47cd010b.7d0af8","name":"set msg.payload","func":"msg.payload = 'Motion detected at back of Sycamore. The current outside temperature is: ' + msg.payload + '°c.';\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":560,"wires":[["78619798.05a648"]]},{"id":"78619798.05a648","type":"function","z":"47cd010b.7d0af8","name":"home?","func":"// if ( context.global.sycamore === false) {\n//    return null;\nif ( context.global.sycamore === \"away\" ) {\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":430,"y":560,"wires":[["5f52ef53.ff5078"]]},{"id":"5aabf409.3230ec","type":"change","z":"47cd010b.7d0af8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\": true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":600,"wires":[["a66e6e46.3f89b"]]},{"id":"a66e6e46.3f89b","type":"function","z":"47cd010b.7d0af8","name":"home?","func":"// if ( context.global.sycamore === false) {\n//    return null;\nif ( context.global.sycamore === \"away\" ) {\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":430,"y":600,"wires":[["dca2476b.7cd628"]]},{"id":"dca2476b.7cd628","type":"function","z":"47cd010b.7d0af8","name":"night?","func":"if ( context.global.daynight == \"day\" ) {\n    return null;\n} else {\n    var d = new Date();\n    context.global.backlight = d.getTime();\n    return msg;\n}","outputs":1,"noerr":0,"x":570,"y":600,"wires":[[]]},{"id":"971f12cb.ece1b8","type":"inject","z":"47cd010b.7d0af8","name":"Rain","topic":"","payload":"{\"opcode\": \"7\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":1230,"y":440,"wires":[["57854f60.06082"]]},{"id":"fbad0eda.f2e49","type":"debug","z":"47cd010b.7d0af8","name":"","active":true,"console":"true","complete":"payload","x":550,"y":1440,"wires":[]},{"id":"ead0856a.5e242","type":"ParticleSSE in","z":"47cd010b.7d0af8","baseurl":"abe1c78c.a67ba8","evtname":"watz","devid":"50ff73065067545657460387","x":201,"y":1277,"wires":[["6b424a73.72d24c","97f28043.0b6cb","fbad0eda.f2e49"]]},{"id":"ddfcdc85.2c49c","type":"ParticleSSE in","z":"47cd010b.7d0af8","baseurl":"abe1c78c.a67ba8","evtname":"watzup","devid":"50ff73065067545657460387","x":210,"y":1340,"wires":[["fbad0eda.f2e49","45cc4a22.782b7c"]]},{"id":"6b424a73.72d24c","type":"emoncms","z":"47cd010b.7d0af8","name":"emoncms","emonServer":"83ee67ba.eec32","nodegroup":"1","x":461,"y":1278,"wires":[]},{"id":"eb55197c.83d6e8","type":"comment","z":"47cd010b.7d0af8","name":"Power Log","info":"","x":100,"y":1240,"wires":[]},{"id":"833c7e5b.48c38","type":"inject","z":"47cd010b.7d0af8","name":"meter","topic":"","payload":"44650","payloadType":"string","repeat":"","crontab":"","once":false,"x":90,"y":1440,"wires":[["fbb6c5ab.877ec8"]]},{"id":"6c51994d.db599","type":"comment","z":"47cd010b.7d0af8","name":"Set Meter","info":"","x":100,"y":1400,"wires":[]},{"id":"fbb6c5ab.877ec8","type":"function","z":"47cd010b.7d0af8","name":"jsonify","func":"msg.payload = '{\"meter\": ' + msg.payload + '}';\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1440,"wires":[["6dc47891.7e8128","fbad0eda.f2e49"]]},{"id":"6dc47891.7e8128","type":"emoncms","z":"47cd010b.7d0af8","name":"emoncms","emonServer":"83ee67ba.eec32","nodegroup":"1","x":380,"y":1440,"wires":[]},{"id":"4ad6979e.e223a8","type":"function","z":"47cd010b.7d0af8","name":"power use","func":"if (msg.payload.kw <= 0.6) {\n    msg.payload = {\"opcode\": \"13\"};\n} else if ( msg.payload.kw >= 2.0) {\n    msg.payload = {\"opcode\": \"12\"};\n} else {\n    msg.payload = {\"opcode\": \"14\"};\n}\nreturn msg;\n","outputs":"1","noerr":0,"x":630,"y":1220,"wires":[["57854f60.06082"]]},{"id":"97f28043.0b6cb","type":"json","z":"47cd010b.7d0af8","name":"","x":450,"y":1220,"wires":[["4ad6979e.e223a8"]]},{"id":"45cc4a22.782b7c","type":"emoncms in","z":"47cd010b.7d0af8","name":"emoncms (current meter count)","emonServer":"83ee67ba.eec32","feedid":"104902","x":550,"y":1340,"wires":[["3cc2bf7b.cbf24"]]},{"id":"3cc2bf7b.cbf24","type":"function","z":"47cd010b.7d0af8","name":"++","func":"msg.payload = parseInt( msg.payload ) + 1;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1340,"wires":[["fbb6c5ab.877ec8"]]},{"id":"eb87d492.79ca38","type":"kodi-in","z":"47cd010b.7d0af8","name":"goody","controller":"a2db7847.6e8268","x":90,"y":1760,"wires":[["365af63f.87f722","4a76011f.985c88"]]},{"id":"365af63f.87f722","type":"debug","z":"47cd010b.7d0af8","name":"","active":true,"console":"false","complete":"payload","x":250,"y":1820,"wires":[]},{"id":"4a76011f.985c88","type":"function","z":"47cd010b.7d0af8","name":"player status","func":"// Player.OnStop\n// Player.OnPause\n// Player.OnSeek\n// Player.OnPlay\n\nif ( msg.payload.notification === \"Player.OnPlay\" ) {\n    msg.payload = {\"opcode\": \"4\"};\n    return msg;\n} \n\nif ( msg.payload.notification === \"Player.OnStop\" ) {\n    msg.payload = {\"opcode\": \"2\"};\n    return msg;\n} \n\nreturn null;\n","outputs":1,"noerr":0,"x":250,"y":1760,"wires":[["365af63f.87f722"]]},{"id":"f39edd89.650bb","type":"comment","z":"47cd010b.7d0af8","name":"Kodi","info":"","x":90,"y":1720,"wires":[]},{"id":"66986c04.32f054","type":"comment","z":"47cd010b.7d0af8","name":"ISS","info":"","x":90,"y":1900,"wires":[]},{"id":"1cee98c8.f89797","type":"debug","z":"47cd010b.7d0af8","name":"","active":true,"console":"false","complete":"payload","x":710,"y":1940,"wires":[]},{"id":"69a26855.28a7c8","type":"http request","z":"47cd010b.7d0af8","name":"iss pass","method":"GET","ret":"txt","url":"http://api.open-notify.org/iss-pass.json?lat=51.19009&lon=-0.876653&n=1","x":260,"y":1940,"wires":[["d29f3a4b.dbddf8"]]},{"id":"d674f2c8.4713e","type":"inject","z":"47cd010b.7d0af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":1940,"wires":[["69a26855.28a7c8"]]},{"id":"d29f3a4b.dbddf8","type":"json","z":"47cd010b.7d0af8","name":"","x":410,"y":1940,"wires":[["b8117b14.03e498"]]},{"id":"b8117b14.03e498","type":"function","z":"47cd010b.7d0af8","name":"","func":"msg.payload = msg.payload.response[0];\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1940,"wires":[["1cee98c8.f89797","c1fc9ab.1594068"]]},{"id":"c1fc9ab.1594068","type":"moment","z":"47cd010b.7d0af8","name":"convert","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":"0","format":"DD/MM/YY HH:MM","locale":"en_GB","output":"payload.risetime","outputType":"msg","outTz":"Europe/London","x":660,"y":2040,"wires":[["1cee98c8.f89797"]]},{"id":"8180fcf0.e1033","type":"inject","z":"47cd010b.7d0af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":100,"y":720,"wires":[["3b666be2.7f13f4"]]},{"id":"6591ffa0.ff5d78","type":"comment","z":"47cd010b.7d0af8","name":"Light Timer (Clear Lighting)","info":"","x":150,"y":680,"wires":[]},{"id":"3b666be2.7f13f4","type":"function","z":"47cd010b.7d0af8","name":"light time","func":"if ( context.global.backlight ) {\n    var timer = 300000; // milliseconds in 5 minutes\n    \n    if ( msg.payload >= ( context.global.backlight + timer ) ) {\n        context.global.backlight = false;\n        msg.payload = {\"on\": false};\n        return msg;\n    } else {\n        return null;\n    }\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":260,"y":720,"wires":[[]]}]